/*#search {
  float: right !important;
  width: 27% !important;
}
#navigation {
  float: left !important;
  width: 77% !important;
}
#block-search-0block block-search first last region-odd even region-count-1 count-2 with-block-editing h2.title {
  display: none;
}
#navigation {
  margin-left: 20%;
}
#navigation li {
  border: 1px solid #000;
  background-color: #0EC;
  padding: 5px 10px 6px 10px;
}
/*#page
{
	background-image:url('/theme/sites/default/files/kiran _ Wix.com.png');
}*/
/*body{
	margin: 0px;
	font-size: 14px;
}
p{
	font-size: 14px;
	line-height: 18px;
}*/

/* commaon css */

body{
	margin: 0px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}
p{
    font-size: 13px;
    line-height: 20px;
    color: black;
}
h4{
    font-size: 16px;
    font-weight: bold;
}
strong{
    font-weight: bold;
}
ol li,ul li{
	margin: 5px 0;
	font-size: 13px;
	line-height: 22px;
}

a{
    font-size: 13px;
    color: #800000;
    text-decoration: none;
}

table{
    width: 100%;
    width: 680px;
}
td{
    padding: 5px;
}
td a{
    font-size: 12px;
}
th, thead th, tbody th{
    padding: 5px;
}
tr.even{
    background-color: #eee;
}
tr.odd{
    background-color: white;
}
#content .content table{
    width: 680px;
}
select{
    max-width: 660px;
}
/* others */

.container-inline{
	position: relative;
}

#content .content ul, #content .content ul li{
    padding-left: 10px;
    /*list-style: none;*/
}
#content .content ul
{
	margin-left:10px;
}
#content .content ul li, #content .content li{
   /* background: url('../images/li-bg.png') no-repeat;
    padding-left: 22px;
    background-position: 0 2px;*/
    
}
#content .content ol li{
    background: none  !important;
}

.inner{
	width:960px;
	margin:auto;
}
#header{
background-image:url('../images/line.png');
background-repeat:repeat-x;
height:110px;
}
#navigation h2.element-invisible{
    display:none;
}
#search{
	float: right;
	margin: -1px 5px 0 0;
}
#search h2.title{
    display:none;
}
#edit-search-block-form-1-wrapper label{
    display:none;
}
#edit-search-block-form-1-wrapper input{
    width:156px;
}

.inner_content{
    width:960px;
    margin:auto;
    overflow:hidden;
    background-color:#FFFFFF;
    border:1px solid #000;
    border-radius:6px;
    margin-top:3px;
    padding-bottom:5px;
    clear:both;
}
#sidebarfst/*.region.region-sidebar-first.column.sidebar*/
{
	float:left;
	width:230px;
	font-size:12px;
	margin-top: 15px;
	margin-bottom: 5px;
	padding-left:15px;
	/*box-shadow:13px 9px 22px #88876F;*/
}

#block-menu-menu-custom
{
	background-image: url('../images/divider1.png');
	background-position: bottom center;
	background-repeat: no-repeat;
	margin: 0px;
	height: auto;
	background-size: 105px 4px;
	margin-top:10%;
	position:relative;
	padding-bottom:8%;
}
#block-menu-menu-fossee
{
	margin-top:10%;
}
#sidebarfstsub
{
	background-image: url('../images/side_b.png');
	border-radius: 4px;
	position: relative;
	border:1.5px solid #000;
}
#sidebarfstsub li a{
	text-decoration:none;
	color:#FFFFFF;
	font-size: 12px;
}
.content
{
	/* font: normal normal normal 13px/1.4em 'Open Sans', sans-serif; */
	/*color: #005252;*/
	color:#000;
	margin: 0px;
	line-height: normal;
	letter-spacing: normal;
}
.content p
{
	text-align:justify;
}
#sidsub1{
background-image: url('../images/shadow.png');
background-repeat: no-repeat;
/*padding: 28px 0px 208px 52%;*/
z-index: 2;
background-position: -10px 0;
float: left;
height:30px;
width:50%;
}
#sidsub2{
background-image: url('../images/shadow.png');
background-repeat: no-repeat;
/*padding: 0px 0px 148px 48%;*/
z-index: 2;
background-position: -206px 0px;
float: right;
height:30px;
width:50%;
}

/*#sidsub1{
background-image: url('../images/shadow.png');
background-repeat: no-repeat;
padding: 11px 38px 126px 24%;
z-index: 2;
background-position: -48px 88px;
float: left;
}
#sidsub2{
background-image: url('../images/shadow.png');
background-repeat: no-repeat;
padding: 0px 37px 162px 40%;
z-index: 2;
background-position: -192px 88px;
float: right;
}*/

/*.region.region-sidebar-first.column.sidebar:before,
.region.region-sidebar-first.column.sidebar:after
{
z-index: 1;
position: absolute;
content: "";
bottom: 15px;
left: 10px;
width: 50%;
top: 80%;
max-width: 300px;
-webkit-box-shadow: 0 15px 10px #777;
-moz-box-shadow: 0 15px 10px #777;
box-shadow: 0 15px 10px #777;
-webkit-transform: rotate(-3deg);
-moz-transform: rotate(-3deg);
-o-transform: rotate(-3deg);
-ms-transform: rotate(-3deg);
transform: rotate(-3deg);
}
.region.region-sidebar-first.column.sidebar:after
{
-webkit-transform: rotate(3deg);
-moz-transform: rotate(3deg);
-o-transform: rotate(3deg);
-ms-transform: rotate(3deg);
transform: rotate(3deg);
right: 10px;
left: auto;
}*/

.region.region-sidebar-second.column.sidebar{
	float:left;
	width:19%;
}
#content.column{
	padding-top: 15px;
	float: right;
	width: 680px;
	padding-right: 15px;
}
.inner_footer
{
	width:960px;
	margin:auto;
	height:40px;
}
#footer{
background-image:url('../images/footer_line2.png');
margin-top:-0.85%;
}
#main-menu.links.clearfix li a{
color:#FFFFFF;
text-decoration:none;
}
#main-wrapper{
background-image:url('../images/content_line.png');
background-repeat:repeat;
height:auto;
/*padding-bottom:20px;*/
z-index:3;
}
h1{
font-size:1.5em;
padding:5px 0px;
}
a.block-config span
{
	display:none;
}
a.block-edit-menu span
{
	display:none;
}
a.block-edit span
{
	display:none;
}

#login{
	float:right;
	margin-top:1%;
	background-image:url('../images/login-button3.png');
	height:27px;
	border-radius: 6px;
	color: #FFFFFF;
	background-repeat:repeat-y;
	padding:4px 10px 0px 14px;
	line-height: 20px;
}
#login1{
    float:right;
    margin-top:1%;
    height:27px;
    color: #FFFFFF;
    padding:2px 18px 2px 17px;
}

#login:hover{
    float:right;
    margin-top:1%;
    background-image:url('../images/login-button3.png') no-repeat;
    height:27px;
    border-radius: 6px;
    color: #FFFFFF;
    background-repeat:repeat-y;
    padding:4px 10px 0px 14px;
    background-position: 0 -30px;
    margin-left:1%;
}
span#loginb a:active{
	/*color:#B8EBF8;*/
	color:#000;
}
span#loginb a:hover{
	/*color:#B8EBF8;*/
	color:#000;
}

span#registerb a:active{
	/*color:#B8EBF8;*/
	color:#000;
}
span#registerb a:hover{
	/*color:#B8EBF8;*/
	color:#000;
}

/*#logout_c1:hover{
background-image:url('../images/login-button3.png');
height:30px;
border-radius: 6px;
color: #FFFFFF;
background-repeat:repeat-y;
padding:2px 18px 6px 17px;
background-position:50% 90%;
-ms-background-position:50% 90%;
}*/

#login_c a
{
	text-decoration:none;
	color:#FFFFFF;
	font-size:12px;
	padding: 0 4px;
}
#login_c a:hover
{
	color:#FFFFFF;
	text-decoration:none;
	font-size:12px;
}
#logout_c1 a strong
{
	text-decoration:none;
	color:#000;
	font-size:14px;
}
#logout_c1 a strong:hover
{
	color:#FFFFFF;
	text-decoration:none;
	font-size:14px;
}
#search-block-form input#edit-submit-1,#search-block-form #edit-submit-3,#search-block-form #edit-submit-2,#search-block-form #edit-submit{
text-indent: -9999px;
height: 19px;
background-image: url('../images/search-btn.png');
width: 20px;
text-shadow: 1px 1px 0px #ffffff;
/*box-shadow: inset 0px 0px 0px 0px #ffffff;*/
background-color: #FFFFFF;
border: 0px;
right: 3px;
position: absolute;
top: 4px;

}

#search-block-form #edit-search-block-form-1-wrapper
{
	/*margin-left:90px;*/
}
.orbit-wrapper div.slider-nav span {
width: 27px !important;
height: 48px !important;
margin-top:-34px !important;
}
.orbit-wrapper span.left {
/*background-size: 53px 71px !important;*/
background-size: 66px 48px !important;
}

.orbit-wrapper span.right {
/*background-size: 53px 71px !important;*/
background-size: 66px 48px !important;
}
#block-tblock-0{
width: 43%;
margin-top: 6px;
float:right;
}
#block-tblock1-0{
width: 53%;
margin-top: 6px;
float:left;
}
#node-12 .title{
text-align:center;
}
#node-14 .title{
text-align:center;
}

#node-12 .node_read_more.first.last.first.last a
{
	/*margin-left:190px;*/
	float:right;
	color:#000000;
}
#node-14 .node_read_more.first.last a
{
	/*margin-left:262px;*/
	float:right;
	color:#000000;
}

body.front #content h1.title
{
	visibility:hidden;
}
#node-14 .title a,#node-12 .title a,#block-views-event-block_1 h2.title,#block-views-Story-block_1 h2.title
{
	text-decoration:none;
	font-weight:bold;
	color:#000;
}
#block-views-event-block_1 .views_view.view.view-event.view-id-event.view-display-id-block_1.view-dom-id-1
{
	width:54%;
}
/*#block-views-event-block_1 h2.title
{
	margin-left:168px;
}*/
#block-views-event-block_1
{
	float:left;
	width:53%;
	
}
/*.content label,.region.region-content-bottom .content,#content-area .content li a:link,.node_read_more.first.last a,.content p a:link
{
	color:#ae8a8e;
}*/
.region.region-content-bottom
{
	padding-right:9px;
}
#content_down {
width: 1000px;
margin: auto;
height: 18px;
}
#content_dn1
{
	background-image:url('../images/shadow.png');
	background-repeat: no-repeat;
	padding: 17px 0px 0px 17%;
	z-index: 2;
	background-position: -5px 0px;
	float: left;
}

#content_dn2 {
background-image: url('../images/shadow.png');
background-repeat: no-repeat;
padding: 17px 0px 0px 14%;
z-index: 2;
background-position: -186px -0.3px;
float:right;
}
/* manu bar */

#main-menu li{
	list-style: none !important;
}
#main-menu
{
    color:#FFF;
    position:relative;
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
    text-align: center;
    margin-left: 250px;
    float: left;
}
#main-menu ul
{
    padding:0px;
    margin:0;
    list-style:none;
    display: inline-block;
    margin-top: 1px; 
}
#main-menu ul li
{
    padding:0;
    margin:0;
    float:left;
}
#main-menu ul li a
{
    color:#FFF;
    display:block;
    text-decoration:none;
    padding:0 20px;
    padding-bottom: 7px;
}
#main-menu ul li a:hover
{
    color:#EA9C4D;
}
#main-menu ul li ul
{
     display: none;
     width: auto;
     position:absolute;
     padding:0px;
     margin:0px;
     background: #9C6833;
     z-index: 9999;
}
#main-menu ul li.hover ul
{
     display: block;
     position: absolute;
}
#main-menu ul li.hover li
{
    float: none;
    list-style:none;
    margin:0px;
    padding: 2px 0;
}
#main-menu ul li.hover li a
{
    padding:0 5px 0 10px;
    display:block;
    width:180px;
}


/* menu bar end */



#block-user-1 h2.title
{
	padding-left:12%;
}
#block-menu-menu-horizontal h2.title,#block-user-1 h2.title
{
	display:none;
}
#block-menu-menu-fossee h2.title
{
	text-align:center;
	color:rgb(255, 203, 5);
	font-weight:bold;
}
/*Front page teaser block */
#teaser_block_main
{
	width:100%;
	height:auto;
}

#teaser_block_left h2,#teaser_block_right h2
{
	text-align:center;
}
#teaser_block_left
{
	width:46%;
	float:left;
	text-align:justify;
}
#teaser_block_right
{
	width:47%;
	float:right;
	text-align:justify;
}
a.read_more
{
	float:right;
}
/* Feedback Form*/
#fb_heading
{
	width:100%;
	border:1px solid #000;
	border-radius:5px;
	background-color:#DCDCDC;
}
#fb_heading h2
{
	padding-bottom: 2%;
	padding-top: 2%;
	padding-left: 2%;
	font-weight:bold;
	color:#000;
}
#fb_description
{
	text-align:justify;
}
#fbhead
{
	color:#000;
	font-size: 21px;
	font-weight: bold;
}
#fb_mainlink
{
	width:100%;
}
#fb_leftlink
{
	width:60%;
	float:left;
	border:1px solid #000;
	border-radius:5px;
	background-color:#DCDCDC;
	padding-bottom: 2%;
	padding-top: 2%;
	padding-left: 2%;
	line-height:10px;
	color:#000;
}
#fb_notify
{
	font-size:10px;
}
#edit-submitted-used-scilab-1-wrapper,#edit-submitted-used-scilab-2-wrapper,#edit-submitted-lab-use-scilab-1-wrapper,#edit-submitted-lab-use-scilab-2-wrapper,#edit-submitted-classroom-instruction-1-wrapper,#edit-submitted-classroom-instruction-2-wrapper,#edit-submitted-tbc-objective-1-wrapper,#edit-submitted-tbc-objective-2-wrapper,#edit-submitted-tbc-objective-3-wrapper,#edit-submitted-tbc-teacher-1-wrapper,#edit-submitted-tbc-teacher-2-wrapper,#edit-submitted-tbc-teacher-find-1-wrapper,#edit-submitted-tbc-teacher-find-2-wrapper,#edit-submitted-tbc-teacher-find-3-wrapper,#edit-submitted-tbc-useful-1-wrapper,#edit-submitted-tbc-useful-2-wrapper,#edit-submitted-tbc-recommend-1-wrapper,#edit-submitted-tbc-recommend-2-wrapper,#edit-submitted-tbc-recommend-3-wrapper,#edit-submitted-tbc-recommend-academic-1-wrapper,#edit-submitted-tbc-recommend-academic-2-wrapper,#edit-submitted-tbc-recommend-academic-3-wrapper,#edit-submitted-tbc-improve-1-wrapper,#edit-submitted-tbc-improve-2-wrapper,#edit-submitted-tbc-improve-3-wrapper,#edit-submitted-tbc-participate-1-wrapper,#edit-submitted-tbc-participate-2-wrapper,#edit-submitted-tbc-participate-friends-1-wrapper,#edit-submitted-tbc-participate-friends-2-wrapper,#edit-submitted-tbc-procedure-1-wrapper,#edit-submitted-tbc-procedure-2-wrapper
{
	float:left;
}
#webform-component-lab-use-scilab,#webform-component-classroom-instruction,#webform-component-active-participation,#webform-component-rate-org,#webform-component-tbc-teacher-find,#webform-component-tbc-support-teacher,#webform-component-tbc-recommend,#webform-component-tbc-recommend-academic,#webform-component-tbc-improve,#webform-component-tbc-participate,#webform-component-tbc-participate-friends,#webform-component-tbc-procedure,#webform-component-tbc-codes-useful
{
	clear:both;
}
.orbit-caption
{
	text-align:justify;
}

#slideshow{
    margin-bottom: 10px;
}

.home-slider{
    border:1px solid #000;
    margin-bottom: 10px;
}
hr 
{
	height: 1px;
	border: 1px solid #522900;
}
.tableHeader-processed #content.column .sticky-enabled.sticky-table
{
	font-size:11px;
}
h1#frnt.title
{
	display:none;
}
.statistics_counter {
	display: none !important;
}


